@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,425..700;1,17..18,425..700&display=swap');

body.dark {
  color-scheme: dark;
}

body:not(.dark) {
  color-scheme: light;
}

body.font-immich {
  font-family: 'Google Sans', sans-serif;
}

body.font-system {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}
