@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* light */
		--immich-primary: 66 80 175;
		--immich-dark: 0 0 0;
		--immich-light: 255 255 255;
		--immich-success: 34 197 94;
		--immich-danger: 180 0 0;
		--immich-warning: 255 170 0;
		--immich-info: 14 165 233;
		--immich-gray: 246 246 246;
	}

	.dark {
		/* dark */
		--immich-primary: 172 203 250;
		--immich-light: 0 0 0;
		--immich-dark: 229 231 235;
		/* --immich-success: 56 142 60; */
		--immich-danger: 239 68 68;
		--immich-warning: 255 170 0;
		--immich-info: 14 165 233;
		--immich-gray: 33 33 33;
	}
}
